html, body {
height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-container {
    background-color: #1F1A38;
    color: rgb(255, 255, 255);
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.select-page {
  background-color: #1b1730;
  color: white;
  
}

.api-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  background-color:#1b1730; 
  color: white;
  text-align: left;
}

.api-data a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 1rem;
  max-width: 50%;
  overflow-wrap: break-word;
}

.api-data img {
  width: 200px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .api-data {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .api-data img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .api-data a {
    max-width: 100%;
  }
}


.main-content {
    max-width: 800px; 
    color: #fff;
}

.main-content h1 {
    width: 100%; 
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center; 
}
/*Layout elements */ 
.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }

  .menu-desktop {
    display: flex;
    gap: 1.5rem;
    ;
  }

  .mobile-nav {
    display: none;
  }

  @media (max-width: 600px) {
    .menu-desktop {
      display: none;
    }

    .mobile-nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .mobile-nav select {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      font-weight: regular;
      text-align: center;
      border-radius: 4px;
      background-color: #0061fc;
      color: white;
      border: none;
      border-radius: 9999px;
      appearance: none;
      cursor: pointer;
    }

    .mobile-nav select:hover {
      background-color: #120e52;
      color: #ffffff;
  }
}
  

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 40px;
    width: auto;
    cursor: pointer;
  }

  .page-content {
    flex: 1;
    background-color: #1b1730;
    color: #fff;
  }

  nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #0057ff;
    font-weight: 300;
  }

  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0061fc;
    color: white;
  }

  .site-footer .social img {
    width: 24px;
    margin-left: 1rem;
    filter: brightness(0) invert(1);
  }

    .social a {
      margin-left: 1.5rem;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
    }


  .logo-svg {
    height: 50px;
    width: auto;
    cursor: pointer;
    display: block;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

/*Layout elements */ 


.segment-container { 
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem; 
}

.question-container {
    max-width: 800px;
    margin: 6rem auto 2rem auto;
    padding: 1rem;
    text-align: center;
}

.result-container {
  max-width: 800px;
  margin: 6rem auto 2rem auto; /* same vertical spacing & horizontal centering */
  padding: 1rem;
  text-align: center;
}

.chart-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 6rem auto 2rem auto;
  display: flex;
  justify-content: center;
}

.question-container h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.result-container h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.result-container h2 {
    
 color:  #0061fc;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}



button {
    border: none;
    border-radius: 4px;
    background: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

button:hover {
    background: none;
}

.back-button {
    margin-top: 2rem;
    background: #0061fc;
    color: #ffffff;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: regular;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.back-button:hover {
    background: #ffffff;
    color: #0061fc;
}

.segment {
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    border-radius: 999px;
    background-color: #85DD89;
    margin: 1.5rem auto;
    width: 100%;
    max-width: 600px;
    height: 3.5rem;
}

.segment--2 .segment__item {
    width: 50%;
}

.segment--3 .segment__item {
    width: 33.3333%;
}

.segment__item {
  flex: 1;
  text-align: center;
  padding: 0 1rem;
  color: #1F1A38;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}


.segment__item:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.segment__item:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.segment__item:hover {
    background-color: #0061FC;
color: #fff;
border-radius: 999px;
}

.segment__item:first-child:hover {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border-right: none; 
}

.segment__item:last-child:hover {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
     border-left: none; 
}

.segment--2 .segment__item:nth-child(2):hover,
.segment--3 .segment__item:nth-child(2):hover {
    border-left: none;
    border-right: none;
}

.segment--3 .segment__item:nth-child(3):hover {
    border-left: none;
}


/*Home elements */ 


.home {
    text-align: center;
    color: white;
  }

  .hero {
    background-image: url('static/Hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
    color: white;
    text-align: center;
}
  

  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
  }

  .intro button {
    background-color: #6ee7b7;
    color: #1F1A38;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .intro {
    background-color: #1b1730;
    padding: 2rem;
    font-size: 1.1rem;
    color: #ccc;
  }